:root {
    --primary-color: #6200ea;
    --primary-color-dark: #3700b3;
    --secondary-color: #03dac6;
    --background-color: #fafafa;
    --card-background-color: #ffffffcc;
    --text-color: #000000;
    --card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --border-radius: 10px;
    --tag-color: #cccccc;
    --button-color: #6200ea;
    --input-background: #f0f0f0;
    --input-border: #cccccc;
    --input-placeholder: #888888;
    
}

[data-theme="dark"] {
    --primary-color: #6200ea;
    --primary-color-dark: #3700b3;
    --secondary-color: #03dac6;
    --background-color: #121212;
    --card-background-color: #1e1e1e;
    --text-color: #ffffff;
    --card-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    --tag-color: #333333;
    --button-color: #00346e;
    --input-background: #2e2e2e;
    --input-border: #555555;
    --input-placeholder: #aaaaaa;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.card {
    background-color: var(--card-background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--card-shadow);
    padding: 20px;
    margin: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--primary-color-dark);
}

h1 {
    color: var(--primary-color);
    font-style: italic;
}
h2 {
    color: var(--text-color);
}

p {
    color: var(--text-color);
}
