/* Chat Container Styles */
.chat-container {
    display: flex;
    height: calc(100vh - 150px); /* Adjust height to account for the top margin */
    overflow: hidden; /* Prevents the entire container from scrolling */
    margin: 100px 0 0 0; /* Add 100px margin on top */
}

/* Chat Sidebar Styles */
.chat-sidebar {
    width: 25%;
    background-color: var(--card-background-color);
    overflow-y: auto; /* Makes the sidebar scrollable */
    border-right: 1px solid var(--input-border);
    position: fixed; /* Fixes the sidebar in place */
    height: calc(100vh - 100px); /* Adjust height to account for the top margin */
    top: 100px; /* Ensure it starts from 100px from the top */
    left: 0; /* Ensure it starts from the left */
}

/* Chat Main Styles */
.chat-main {
    width: 75%;
    margin-left: 25%; /* Adjusts the main chat area to the right of the sidebar */
    display: none; /* Initially hide the chat-main element */
}

.chat-main.visible {
    display: flex; /* Show the chat-main element when the visible class is added */
    flex-direction: column;
    height: calc(100vh - 100px); /* Adjust height to account for the top margin */
    overflow: hidden; /* Prevents the main chat area from scrolling */
    position: fixed; /* Fixes the chat main area in place */
    top: 100px; /* Ensure it starts from 100px from the top */
    right: 0; /* Ensure it starts from the right */
}

/* Chat Header Styles */
.chat-header {
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    flex-shrink: 0; /* Prevents the header from shrinking */
    position: relative;
}

.chat-header .chat-title {
    display: flex;
    align-items: center;
    flex-grow: 1; /* This will make the chat title take up the remaining space */
}

.chat-header .typing-indicator {
    margin-left: 10px;
    font-size: 0.85em;
    color: var(--text-color);
}

.chat-header .close-chat {
    background-color: #e95420;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.chat-header .close-chat:hover {
    background-color: #c84117;
}

/* Chat Messages Styles */
.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto; /* Makes the chat messages area scrollable */
    background-color: var(--background-color);
    margin: 0; 
}

#chat-spacer {
    height: 300px; /* Adjust height as needed */
}

/* Chat Input Styles */
.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid var(--input-border);
    flex-shrink: 0; /* Prevents the input area from shrinking */
    margin: 0; 
}

#chat-message-input {
    flex: 1;
    padding: 10px;
    border: 1px solid var(--input-border);
    border-radius: var(--border-radius);
    background-color: var(--input-background);
    color: var(--text-color);
}

#chat-send-button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

/* User Item Styles */
.user-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid var(--input-border);
    background-color: var(--card-background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--card-shadow);
    margin: 10px; /* Add some margin to separate the cards */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effect */
}

.user-item:hover {
    background-color: var(--tag-color);
    transform: translateY(-5px); /* Slightly lift the card on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

/* Chat Message Styles */
.chat-message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.chat-message .profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #7289da; /* Discord-like color */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.chat-message .message-content-container {
    display: flex;
    flex-direction: column;
}

.chat-message .message-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.chat-message .message-header strong {
    margin-right: 5px;
}

.chat-message .message-time {
    color: var(--input-placeholder);
    font-size: 0.85em;
    margin-left: 5px;
}

.chat-message .message-content {
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
}

/* Typing Indicator Styles */
.typing-indicator {
    font-size: 1em;
    vertical-align: middle;
    text-align: left;
    position: relative;
}

.typing-indicator::after {
    content: 'typing';
    animation: typing 1.5s steps(4, end) infinite;
    position: absolute;
    left: 0;
}

@keyframes typing {
    0% {
        content: 'typing';
    }
     25% {
        content: 'typing.';
    }
    50% {
        content: 'typing..';
    }
    75% {
        content: 'typing...';
    }
    100% {
        content: 'typing';
    }
}

/* Recent Section Styles */
.recent-section {
    background-color: var(--card-background-color);
    border-bottom: 1px solid var(--input-border);
}

/* New Chat Section Styles */
.chat-sidebar .new-chat-section {
    background-color: var(--card-background-color);
    padding: 10px;
    border-bottom: 1px solid var(--input-border);
}

.chat-sidebar .new-chat-section .section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.chat-sidebar .new-chat-section .section-header .title {
    font-weight: bold;
}

.chat-sidebar .new-chat-section .section-header .toggle-button {
    cursor: pointer;
}

.new-chat-users {
    display: none;
}

.new-chat-users.show {
    display: block;
}