body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-container {
    text-align: center;
    background-color: var(--card-background-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 20px;
    box-shadow: var(--card-shadow);
}

.error-container h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.error-container p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.error-container button {
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.error-container button:hover {
    background-color: var(--primary-color-dark);
}