body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.5);
    padding: 40px;
    gap: 40px;
}

.form-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.input-container {
    position: relative;
    margin-bottom: 15px;
    width: 100%;
}

.input-container i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.form-input {
    width: 100%;
    padding-left: 40px;
    border: none;
    border-bottom: 1px solid #000;
}

.form-input:focus {
    border-color: #4A90E2;
    outline: none;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form button {
    width: 100%;
    padding: 10px;
    border: .5px solid #4A90E2;
    border-radius: 5px;
    background-color: #4A90E2;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #4178be; /* Darkened by about 10% */
    color: white;
}

.form-container a {
    color: #000;
    font-size: 14px;
    width: fit-content;
}

.error-container {
    color: red;
    font-size: 12px;
    font-weight: bold;
}

.social-login {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.social-login a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #000;
    text-decoration: none;
}